/* footer.css */

/* General styles */
body {
    background-color: #1b3b1b;
    font-family: 'The Wild Breath of Zelda',sans-serif !important;
    color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Footer styles */
footer {
    background-color: #3c6e3c;
    /* Dark green */
    color: #ffffff;
    /* White text color */
    padding: 20px 0;
    font-family: 'The Wild Breath of Zelda',sans-serif !important;
}

element {
    font-family: fantasy;
}

/* Button styles */
button {
    color: #ffffff !important;
    /* White text color */
    font-family: 'The Wild Breath of Zelda', sans-serif !important;    /* Custom Zelda font */
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}

button:hover {
    text-decoration: underline;
}

/* Typography styles */
.typography-header {
    font-family: 'The Wild Breath of Zelda', sans-serif !important;    /* Custom Zelda font */
    font-size: 1.5rem;
    color: #ffcc00;
    /* Golden color */
    text-shadow: 1px 1px 4px #000000;
    /* Black shadow for text */
}

.typography-link {
    font-family: 'The Wild Breath of Zelda', sans-serif !important;
    color: #ffffff;
}

.typography-link:hover {
    text-decoration: underline;
}